/* --------------- ESTILIZANDO TELA BASE --------------- */
.pagina{
    display: flex;
    overflow: hidden;
    margin-left: 13%;
}

main{
    display: flex;
    flex-direction: column;
    width: 87%;
    padding: 60px;
    gap: 40px;
}

.introPage{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textIntroPage{
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 5px;
    color: var(--azul-principal);
}

.textIntroPage h1{
    font-size: 35px
}

.textIntroPage p{
    font-size: 16px;
}
/* --------------- FIM ESTILIZANDO TELA BASE --------------- */

.cardsFinanceiro{
    display: flex;
    gap: 30px;
}

.cardFinanca{
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 40px;
    gap: 5px;
    background-color: var(--escuro);
}

#branco{
    background-color: transparent;
    border: 2px solid var(--escuro);
}

#branco p{
    color: var(--azul-principal);
}

#branco span{
    color: var(--azul-principal);
}

.cardFinanca p{
    color: var(--cinza);
}

.cardFinanca h2{
    font-size: 48px;
    color: var(--laranja);
    line-height: 1;
}

.cardFinanca span{
    color: var(--branco);
}

.cardFinanca:hover{
    scale: 1.02;
    cursor: pointer;
}