/* --------------- ESTILIZANDO TELA BASE --------------- */
.pagina{
    display: flex;
    overflow: hidden;
    margin-left: 13%;
}

main{
    display: flex;
    flex-direction: column;
    width: 87%;
    padding: 80px;
    gap: 40px;
}

.introPage{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textIntroPage{
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 5px;
    color: var(--azul-principal);
    padding-left: 20px;
}

.textIntroPage h1{
    font-size: 35px
}

.textIntroPage p{
    font-size: 16px;
}

.btn-tamanho{
    width: 250px;
    height: 35px;
}

.btn-laranja:hover {
    background-color: var(--azul-secundario);
    border: 2px solid var(--azul-secundario);
}
/* --------------- FIM ESTILIZANDO TELA BASE --------------- */

.cardsTurmas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.cardTurma{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 280px;
    padding: 40px;
    border: 2px solid var(--cinza);
    border-radius: 50px;
    gap: 10px;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.cardTurma:hover{
    background-color: var(--escuro);
    scale: 0.98;
    cursor: pointer;
    border: var(--escuro);
}

.cardTurma:hover .infoTurma{
    color: var(--branco);
}

.cardTurma:hover .idiomaTurma{
    color: var(--laranja);
}

.cardTurma:hover .date{
    color: var(--branco);
}

.infoTurma{
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-left: 35px;
    font-size: 14px;
    gap: 5px;
    color: var(--cinza);
}

.idiomaTurma{
    font-weight: bold;
    font-size: 25px;
    color: var(--azul-principal);
}

.linhaInfo{
    display: flex;
    color: var(--cinza);
    justify-content: start;
    gap: 10px;

}

.linhaInfo img{
    width: 24px;
}

.nivel{
    font-weight: bold;
    color: var(--laranja);
}

.date{
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1;
    font-size: 14px;
    color: var(--azul-principal);
}

.date h3{
    font-size: 18px;
}

.date hr{
    border: 0;
    height: 2px;
    background-color:var(--cinza); 
    margin-bottom: 10px;
}