/* --------------- IMPORTANDO FONT POPPINS --------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    /* --------------- PALETA DE CORES --------------- */
    --azul-principal:       #253A59;
    --azul-secundario:      #2F4463;
    --escuro:               #0A1A32;
    --branco:               #FDF8F6;
    --laranja:              #F4662D;

    /* --------------- TIPOGRAFIA --------------- */
    --font-principal: 'Poppins', sans-serif;

    --titulo-tamanho:    35px;
    --titulo-peso:       600;
    --titulo-altura:     45px;

    --subtitulo-tamanho: 18px;
    --subtitulo-peso:    400;


    --texto-tamanho:     14px;
    --texto-peso:        400;
    --texto-altura:      20px;
}