*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;    
    background-color: white;
}

aside{
    background-color: #0A1A32;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 100vh;
    gap: 35px;
    padding-top: 25px;
}

.logo{
    width: 48px;
    height: 50px;
    margin-bottom: 25px;
}

img{
    height: 25px;
    width: 25px;
}